/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | / @use "@material/theme" with (
 * 2 | |   $primary: $theme-primary,
 * 3 | |   $secondary: $theme-secondary,
 * 4 | |   $background: $theme-background,
 * 5 | | );
 *   | '-^
 *   '
 *   mdc/theme.scss 1:1  @import
 *   mdc.scss 6:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  \250c  @use \"@material/theme\" with (\a 2 \2502  \2502    $primary: $theme-primary,\a 3 \2502  \2502    $secondary: $theme-secondary,\a 4 \2502  \2502    $background: $theme-background,\a 5 \2502  \2502  );\a   \2502  \2514 \2500 ^\a   \2575 \a   mdc/theme.scss 1:1  @import\a   mdc.scss 6:9        root stylesheet";
}
