section.cd-timeline {
  max-height: 800px;
  overflow: scroll;
  width: 80%;
  margin: 0 auto;
  .cd-timeline__content {
    img {
      max-width: 300px;
    }
  }
  .cd-timeline__img--picture {
    background-color: #FFFFFA;
  }
}